body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: black;
    box-sizing: border-box;
}
a{
    text-decoration: none; 
    color: white;
}
a:hover{
    font-weight: 800;
}
ul {
    list-style-type: none;
}
/* start sidebar */
.bar{
    background: black;
    width: 100%;
    height: 6%;
    position: fixed;
    display: flex;
    margin: 0;
    z-index: 10000;
}
.sidebar{
    text-align: center;
    top: -74%;
    background:#6495ed;
    position: fixed;
    height: 70%;
    width: 100%;
    font-size: 45px;
    transition: .5s;
    z-index: 999;
}
.active{
    top:0;
}
.sidebar ul{
    
    margin-top: 0;
    direction: rtl;
}
.sidebar ul li a{
    padding: 1% 0 1% ;
    color: #fff;
    display: block;
    direction: rtl;
    border-bottom: 2px solid black;
}
.sidebar ul li a:hover{
    text-shadow: 6px 6px 10px #000;
}
.sidebarbtn{
    position: absolute;
    right: 2%;
    top: 107%;
    width: 10%;
    height: 6%;
    background: green;
    border-radius: 10%;
    cursor: pointer;
    border:none;
    outline: none;
    color: white;
    font-size: 15px;
}
.sidebarbtn2{
    position: absolute;
    right: 2%;
    top: 107%;
    width: 10%;
    height: 6%;
    background: green;
    border-radius: 10%;
    cursor: pointer;
    border:none;
    outline: none;
    color: white;
    font-size: 15px;
    visibility: hidden;
}
.sidebarbtn2.toggle {
     visibility: visible;
}
.sidebarbtn2.toggle {
     visibility: visible;
}
/* end sidebar */
/* start intro */
.intro{
    margin-top: 35%;
    text-align: center;
}
.intro h2{
    font-size: 55px;
    font-weight: 500;
    color: #888;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
}
.intro h2 span{
    animation-name: animat;
    animation-duration: 1s ;
    animation-timing-function: ease-in-out;
}
.intro h2 span:nth-child(1){
    animation-delay: 0s;
}
.intro h2 span:nth-child(2){
    animation-delay: .1s;
}
.intro h2 span:nth-child(3){
    animation-delay: .2s;
}
.intro h2 span:nth-child(4){
    animation-delay: .3s;
}
.intro h2 span:nth-child(5){
    animation-delay: .4s;
}
.intro h2 span:nth-child(6){
    animation-delay: .5s;
}
.intro h2 span:nth-child(7){
    animation-delay: .6s;
}
.intro h2 span:nth-child(8){
    animation-delay: .7s;
}
.intro h2 span:nth-child(9){
    animation-delay: .8s;
}
.intro h2 span:nth-child(10){
    animation-delay: .9s;
}
.intro h2 span:nth-child(11){
    animation-delay: 1s;
}
.intro h2 span:nth-child(12){
    animation-delay: 1.1s;
}
.intro h2 span:nth-child(13){
    animation-delay: 1.2s;
}
.intro h2 span:nth-child(14){
    animation-delay: 1.3s;
}
.intro h2 span:nth-child(15){
    animation-delay: 1.4s;
}
.intro h2 span:nth-child(16){
    animation-delay: 1.5s;
}
.intro h2 span:nth-child(17){
    animation-delay: 1.6s;
}
.intro h2 span:nth-child(18){
    animation-delay: 1.7s;
}
.intro h2 span:nth-child(19){
    animation-delay: 1.8s;
}
.intro h2 span:nth-child(20){
    animation-delay: 1.9s;
}
.intro h2 span:nth-child(21){
    animation-delay: 2s;
}
.intro h2 span:nth-child(22){
    animation-delay: 2.1s;
}
.intro h2 span:nth-child(23){
    animation-delay: 2.2s;
}
.intro h2 span:nth-child(24){
    animation-delay: 2.3s;
}
.intro h2 span:nth-child(25){
    animation-delay: 2.4s;
}
.intro h2 span:nth-child(26){
    animation-delay: 2.5s;
}
@keyframes animat{
    0%,80%{
        color :#888;
        text-shadow: none;
    }
    100%{
        font-weight: bolder;
        color:#116FFF;
        text-shadow: 0 0 5px #0000ff,
                     0 0 25px #0000ff,
                     0 0 50px #0000ff,
                     0 0 200px #0000ff,
                     0 0 200px #0000ff,
                     0 0 300px #0000ff,
                     0 0 400px #0000ff;        
    }
}
/* end intro */
/* start home */
.home h1{
    color:black;
    text-align: center;
    margin: 0;
    padding-top: 4%;
}
.home dl{
    direction: rtl;
    background-color: black;
    opacity: .5;
}
.home dt{
    color :white;
    font-size: 40px;
    margin-right: 2%;
}
.home dd{
    font-size: 30px;
    font-weight: 500;
    color: yellow;
}
.home .h{
    font-size: 30px;
    margin-left: 40%;
    font-weight: bolder;
}
/* end home */
/* start المناهج */
table{
    direction: rtl;
    width: 100%;
    text-align: center;
}
table caption{
    font-family: 'Lalezar';
    color: #555;
    font-size: 60px;
    padding-top: 5%;
}
table th{
    background-color:#000;
    color: #aaa;
    font-size: 50px;
    font-weight: bolder;
}
table td{
    font-size: 40px;
    background-color: black;
    opacity: .5;
}
/* end المناهج */
/* start subject */
.container .subject{
    width: 45%;
    padding: 20px;
    margin: 2% auto 10% ;
    text-align: center;
    border-radius: 50% 0 ;
    border:2px solid blue;
    font-family: 'Lemonada';
    font-size: 30px;
}
/* end subject */
/* start card */
.containerr{
    position: relative;
    width: 70%;
    height: 400px;
    background-color: #222;
    top: 150px;
    left: 15%;
}
.containerr .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.containerr:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.containerr .clip1:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.containerr .clip2:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.containerr .clip1{
    background-image: url("../images/abdo.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0 100%);
}
.containerr .clip2{
    background-image: url("../images/moh.jpg");
    background-size: cover;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
}
.containerr .clip1 .title1{
    background: white;
    width: 50%;
    height: 160px;
    text-align: center;
    top: 240px;
    left: 0px;
    position: absolute;
}
.containerr .clip2 .title2{
    background: white;
    width: 50%;
    height: 160px;
    text-align: center;
    top: 240px;
    left: 0px;
    position: absolute;
}
/* end card */
/* start call */
.circle{
    width: 50%;
    height: 500px;
    position: relative;
    top: 136px;
    left: 247px;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    transform: rotate(-45deg);
    background-color: #888;
}
.circle ul{
    position: absolute;
    font-size: 50px;
    transform: rotate(45deg);
    left: 50px;
    top: 70px;
}
.circle a{
    display: inline-block;
    padding: 20px;
}
/* end call */