@media only screen and (max-device-width: 3000px),screen and (min-device-width:25px) and (max-device-height:3000px) and (min-device-height:25px){

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
}

a{
    text-decoration: none; 
    color: white;
}
a:hover{
    font-weight: 800;
}
ul {
    list-style-type: none;
}
header{
    width: 100%;
    height: 5vh;
}

.logo img{
    position: fixed;
    float: left;
    width: 50px;
    margin-left: 3%;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 5;
}
nav ul{
    overflow: hidden;
    background: rgba(0,0,0,0);
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin: 0;
    transition: 1s;
}
nav.black ul{
    background: linear-gradient(120deg,#11f,#fff);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
    
.dropdown:hover .dropdown-content {display: block;}

nav ul li{
    display: inline-block;
    padding: 10px;
    float: right;
}

nav ul li a{
    color: black;
    font-size: 20px;
    display: block;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 14px 25px;
    cursor:pointer;
    color: blue;
    display: none;
}

@media (max-width:580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 10px;
    }
    nav ul{
        max-height: 0px;
        background: #fff;
    }
    nav.black ul{
        background: white;
    }
    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
}


/* start home */
.home{
    width: 90%;
    margin: 4em auto;
}
.home h1{
    color:black;
    text-align: center;
    font-size: 40px;
}
.home dl{
    direction: rtl;
}
.home dt{
    color :white;
    font-size: 30px;
    padding-right: 2%;
    background-color: black;
}
.home dd{
    font-size: 25px;
    font-weight: bold;
    color: #051eccfa;
    margin-right: 5%;
}
.home .h{
    font-size: 30px;
    left: 45%;
    position: absolute;
    font-weight: bolder;
}
/* end home */
/* start المناهج */
table{
    direction: rtl;
    width: 100%;
    text-align: center;
}
table caption{
    font-family: 'Lalezar';
    color: #555;
    font-size: 40px;
}
table th{
    background-color:#000;
    color: #aaa;
    font-size: 30px;
    font-weight: bolder;
}
table td{
    font-size: 20px;
    background-color: black;
    opacity: .5;
}
/* end المناهج */
/* start subject */ 
.container .subject{
    width: 45%;
    padding: 20px;
    margin: 2% auto 10% ;
    text-align: center;
    border-radius: 50% 0 ;
    border:2px solid blue;
    font-family: 'Lemonada';
    font-size: 30px;
}
/* end subject */
