*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 3000px;
}
a{
    text-decoration: none; 
    color: white;
}
a:hover{
    font-weight: 800;
}
ul {
    list-style-type: none;
}
header{
    width: 100%;
    height: 5vh;
}
.logo img{
    position: fixed;
    width: 50px;
    margin-left: 3%;
}
nav{
    position: fixed;
    width: 100%;
    background: black;
}
nav ul{
    overflow: hidden;
    background: rgba(0,0,0,0);
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin: 0;
    transition: 2s;
}
nav.black ul{
    background: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {background-color: #555;}
    
.dropdown:hover .dropdown-content {display: block;}

nav ul li{
    display: inline-block;
    padding: 10px;
    float: right;
}

nav ul li a{
    font-size: 20px;
    display: block;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 14px 25px;
    cursor:pointer;
    color: white;
    display: none;
}

@media (max-width:580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 10px;
    }
    nav ul{
        max-height: 0px;
        background: #555;
    }

    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
}


.container{
    padding-top: 100px;
    height: 5000px;
}
.container .color-switcher{
    list-style:none;
    text-align: center;
}
.container .color-switcher li{
    width: 60px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 20px;
}
.container .color-switcher li:first-child{
    background-color: red;
}

.container .color-switcher li:nth-child(2){
    background-color: black;
 }


.red .container{
    background-image:linear-gradient(to right,rgb(165, 91, 91),rgb(211, 179, 179),#aaa);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.red .home dl dt{
    color :rgb(38, 20, 141);
}
.red .home dl dd{
    color: rgb(38,20,255);
}
.red .home h1{
    font-family: 'Vibes', cursive;
    color: rgb(151, 80, 92);
}
.red .c{
    color:red;
}


.black .container{
    background-image:linear-gradient(to right,#000,#666,#aaa);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.black .home dl dt{
    color :black;
}
.black .home dl dd{
    color :white;
}
.black .home h1{
    font-family:'Reem Kufi', sans-serif ;
    color: black;
}
.black .c{
    color:black;
}

/* start home */
.home{
    width: 100%;
    margin: 5vw auto ;
}
.home h1{
    text-align: center;
    font-size: 40px;
}
.home dl{
    direction: rtl;
}
.home dt{
    font-size: 30px;
    padding-right: 2%;
    font-family: 'Harmattan', sans-serif;
}
.home dd{
    font-size: 25px;
    font-weight: bold;
    margin-right: 3%;
    padding-right: 5px;
    font-family: 'Jomhuria', cursive;
}


.c{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
