body {    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    
}
.cont{
    top: 30% ;
    left:35% ;
    font-family: 'Charmonman', cursive;
    position: absolute;
}
.w{
    font-size: 800%;
    float: left;
    
}
.contt{
    font-size: 230%;
    float: left;
    padding-top: 35px;
}

@media screen and (max-width:600px){
    
    .cont{
        top: 30% ;
        left: 20%;
        font-size: 80%;
    }
}
@media screen and (max-width:300px){
    .cont{
        font-size: 40%;
        left: 20%;
    }
    .contt{
        padding-top: 20px;
    }
}
/* start button */
.btn, .btnn{
    background-color: black; 
    border: none; 
    color: white; 
    padding: 1% 3%;
    font-size: 2vw; 
    font-family: 'Aref Ruqaa', serif;
    cursor: pointer;
    position: absolute;
    border-radius: 100px;
}
.btn{
    top: 85%;
    left: 10vw;
}
.btnn{
    top: 85%;
    left: 78vw;
}
.btn:hover, .btnn:hover{
    background-color: #777;
}
/* end button */