*{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    background-color: #d3d3d3;
}

.cont{
    width: 310px;
    height: 350px;
    font-family: 'Charmonman', cursive;
    text-align: center;
    margin: 15% auto 0;
    font-size: 40px;
    
}
.w{
    display: inline-block;
    float: left;
    font-size: 160px;
    font-family:serif;
    font-weight: bold;
    text-shadow: 5px 5px #999;
}
.contt{
    line-height: 90px;
}
/* start button */
.conttt{
    margin: 0 auto;
    width: 80%;
}
.btnn{
    float: right;
}
.btnn:hover{
    opacity: .7;
}
.btn,.btnn{
    background: black;
    color: white;
    width: 150px;
    height: 50px;
    font-family: 'Aref Ruqaa', serif;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px #777;
    
}
@media screen and (max-width:400px){
    .conttt{
        width: 100%;
    }
}
 @media screen and (max-width:300px){
     .conttt{
         margin: 0 auto 20%;
     }
        
}
.btn:hover{
    opacity: .7;
}
/* end button */