*{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 20px;
    height: 800px;
}
.container .color-switcher{
    list-style:none;
    text-align: center;
}
.container .color-switcher li{
    width: 60px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 20px;
}
.container .color-switcher li:first-child{
    background-color: red;
}

.container .color-switcher li:nth-child(2){
    background-color: black;
 }


.red .container{
    background-image: url(../images/thumb-1920-786410.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.red button{
    background-color: rgb(243, 232, 237);
    color: rgb(45, 43, 161);
}
.red h3{
    color: blue;
    text-shadow: 3px 3px 5px blueviolet;
}
.red span{
    color: rgb(63, 62, 21);
    text-shadow: 3px 3px 5px red;
}
.red p{
    color: rgb(244, 250, 232);
    text-shadow: 3px 3px 5px rgb(21, 117, 29);
}
.red .cont .w{
    color:rgb(238, 247, 248);
    text-shadow: 5px 5px rgb(43, 43, 7);
}
.red .contt{
    color:rgb(19, 136, 101);
}



.black .container{
    background-image: url(../images/744325.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.black button{
    background-color: black;
    color: white;
}
.black h3{
    color: orange;
    text-shadow: 3px 3px 5px yellow;
}
.black span{
    color: black;
    text-shadow: 3px 3px 5px orange;
}
.black p{
    color: orange;
    text-shadow: 3px 3px 5px yellow;
}
.black .cont .w{
    color:black;
    text-shadow: 5px 5px yellow;
}
.black .contt{
    color:orangered;
}

h3{
    text-align: center;
    font-size: 25px;
    margin: 5% 0;
}
p{
    text-align: center;
    font-size: 20px;
}
.cont{
    width: 310px;
    height: 350px;
    font-family: 'Charmonman', cursive;
    text-align: center;
    margin: 15% auto 0;
    font-size: 40px;
}
.w{
    display: inline-block;
    float: left;
    font-size: 160px;
    font-family:serif;
    font-weight: bold;
}
.contt{
    line-height: 90px;
}
/* start button */
.conttt{
    margin: 0 auto;
    width: 80%;
}
.btnn{
    float: right;
}
.btnn:hover{
    opacity: .7;
}
.btn,.btnn{
    width: 150px;
    height: 50px;
    font-family: 'Aref Ruqaa', serif;
    font-weight:700 ;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px #777;
}
@media screen and (max-width:400px){
    .container{
        height: 620;
    }
    .conttt{
        width: 100%;
    }
    
}
 @media screen and (max-width:300px){
     .conttt{
         margin: 0 auto 20%;
     }
     .container{
        height: 620;
     }
    }
.btn:hover{
    opacity: .7;
}
/* end button */