@media screen and (max-width: 200vw),screen and (max-height:200vw){
    body{
        background:  radial-gradient(circle,#fff, #aaa,#555,#222);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;
        
    }
}
/* start logo */
.cont{
    font-family: 'Charmonman', cursive;
    top: 30%;
    left: 35vw;
    position: absolute;
}
.w{
    font-size: 15vw;
    opacity: .5;
    display: inline-block;
}
.e{
    display: inline-block;
    font-size: 3vw;
    position:absolute;
    top: 25%;
}
.q{
    display: inline-block;
    font-size: 3vw;
    position:absolute;
    top: 45%;
}
/* end logo */
/* start button */
.btn, .btnn{
    background-color: black; 
    border: none; 
    color: white; 
    padding: 12px 16px;
    font-size: 2vw; 
    font-family: 'Aref Ruqaa', serif;
    cursor: pointer;
    position: absolute;
    border-radius:100px;
}
.btn{
    top: 85%;
    left: 10vw;
}
.btnn{
    top: 85%;
    left: 78vw;
}
.btn:hover, .btnn:hover{
    background-color: #777;
}
/* end button */